<mat-accordion matTooltip="Click here to {{ panel.openState === true ? 'close': 'open'}} search box"
  matTooltipPosition="above">
  <mat-expansion-panel (opened)="panel.openState = true" (closed)="panel.openState = false">
    <!-- Header -->
    <mat-expansion-panel-header>
      <mat-panel-description>
        {{ panel.subTitle }}
      </mat-panel-description>
    </mat-expansion-panel-header>

    <!-- Body -->
    <ng-template matExpansionPanelContent>
      <mat-form-field class="width-100" appearance="outline">
        <mat-label>What are you looking for today...</mat-label>
        <input matInput (keyup)="onSearch($event.target.value)" #panelSearch>
      </mat-form-field>
    </ng-template>
  </mat-expansion-panel>
</mat-accordion>