%buttonStyles {
    position: absolute;
    top     : 35%;
    z-index : 50;

    transform: translate(-50%, -50%);
}

.carousel {
    margin-left: -5rem;

    &__item {
        transition: transform 1s cubic-bezier(0.16, 1, 0.3, 1);

        .title {
            top  : 85%;
            right: 5%;

            letter-spacing: 1.2;
            border-bottom : 1px solid var(--text-light);
        }
    }
}

.icon {
    transition: all 0.3s ease;
}

button.prev {
    @extend %buttonStyles;
    left: 2.5%;
}

button.next {
    @extend %buttonStyles;
    right: 5%;
}

button:hover .icon {
    opacity: .8;
}