:root {
    // 1. Text
    --text-white    : #FFFFFF;
    --text-secondary: #737373;
    --text-black    : #000000;

    // 2. Color
    --primary-color: #7B78F8;

    // 3. Background
    --bg-white  : #FFFFFF;
    --bg-black  : #000000;
    --body-color: #F0F2F5;

    // 4. Line
    --hr  : #DADDE1;
    --line: #CCCCCC;

    // 5. Box shadow
    --dark-shadow : rgb(0, 0, 0, 0.2);
    --light-shadow: #D4D4F7 0rem 0.25rem 0.5rem 0rem;
}

.text {
    &-white {
        color: var(--text-white);
    }

    &-secondary {
        color: var(--text-secondary);
    }

    &-black {
        color: var(--text-black);
    }
}

.bg {
    &-white {
        background-color: var(--bg-white);
    }

    &-black {
        background-color: var(--bg-black);
    }

    &-primary {
        background-color: var(--primary-color);
    }
}

.bs {
    &-light {
        box-shadow: 0 1px 2px var(--light-shadow);
    }
}