$colors: ('lightpurple': #9AB3F5,
    'lightgrey' : #F1F3F8,
    'lightgreen' : #E8FFFF,
    'lightorange': #FFE8D6);

.card {
    width : 17rem;
    height: 17rem;
    
    box-shadow: var(--light-shadow);
    transition: all .2s cubic-bezier(0.075, 0.82, 0.165, 1);

    @each $name,
    $color in $colors {
        &.#{$name} {
            background-color: rgba($color, 0.9);
        }
    }

    &:hover {
        box-shadow: var(--hover-light-shadow);
    }

    &-icon-header {
        .icon-container {
            width : 6rem;
            height: 6rem;
        }
    }

    &-content {
        .card-title h4 {
            letter-spacing: 0.5px;
            margin        : 0 0 0.5rem;
        }
    }
}

svg.icon-arrow-up {
    fill: currentColor;
}