<div class="d-flex ai-center m-2 text-center">
    <app-go-back></app-go-back>
    <p class="ml-3">Animated Counter Card.</p>
</div>

<div class="d-flex flex-wrap jc-center gap-2" #el>
    <ng-container *ngFor="let item of animatedCardList">
        <div class="card d-flex flex-direction-column bd-radius-25 cursor-pointer" [ngClass]="item.color">
            <div class="card-icon-header d-flex ai-center p-0 mt-2 ml-2">
                <div class="icon-container d-flex jc-center ai-center bg-white bd-radius-25 bs-dark">
                    <svg class="icon icon-dark">
                        <use attr.href="../../../assets/svg/icons.svg#{{item.icon}}"></use>
                    </svg>
                </div>
            </div>

            <div class="card-content d-flex flex-direction-column jc-center flex-1 px-2">
                <div class="card-title">
                    <h4 class="title-dark text-transform-capitalize fw-400">{{item.title}}</h4>
                </div>
                <div class="card-total d-flex">
                    <span class="total f-32" [appAnimatedCounter]="item.amount" [delay]="1000"></span>
                    <div class="percent-wrapper">
                        <svg class="icon-arrow-up">
                            <use href="../../../assets/svg/icons.svg#icon-arrow-thin-up"></use>
                        </svg>
                        <span class="percent icon-green f-13 ml-1" [appAnimatedCounter]="item.percent"
                            [delay]="1200">%</span>
                    </div>
                </div>
            </div>
        </div>
    </ng-container>
</div>