<div class="d-flex jc-between ai-center text-center m-2">
    <div class="d-flex ai-center">
        <app-go-back></app-go-back>
        <p class="ml-3">Dark/Light Toggle Mode. Click button 'Switch' to see what happened.</p>
    </div>
    <div>
        <button class="bg-black text-white bd-auto py-1 px-2 cursor-pointer">Switch</button>
    </div>
</div>


<div class="container p-2">
    <div class="box">
        <h1 class="header mb-1">Header</h1>
        <p class="paragraph">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Amet, veritatis? Excepturi
            aperiam dolor quo odio impedit vero, obcaecati itaque quae, minus modi unde magnam, repudiandae quas
            consectetur harum fugiat. Quo.</p>
    </div>

    <div class="box">
        <h1 class="header mb-1">Header</h1>
        <p class="paragraph">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Amet, veritatis? Excepturi
            aperiam dolor quo odio impedit vero, obcaecati itaque quae, minus modi unde magnam, repudiandae quas
            consectetur harum fugiat. Quo.</p>
    </div>

    <div class="box">
        <h1 class="header mb-1">Header</h1>
        <p class="paragraph">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Amet, veritatis? Excepturi
            aperiam dolor quo odio impedit vero, obcaecati itaque quae, minus modi unde magnam, repudiandae quas
            consectetur harum fugiat. Quo.</p>
    </div>
</div>