.navbar {
    max-width: 25rem;

    .nav {
        border-bottom-left-radius : 1rem;
        border-bottom-right-radius: 1rem;

        &__item {
            margin: 1rem 0 2rem 0;
        }

        &__link {
            transform : translateY(2rem);
            transition: all .2s var(--easeCubic);

            opacity   : 0;
            visibility: hidden;
        }

        &__item.active {
            .nav__link {
                transform : translateY(1rem);
                opacity   : 1;
                visibility: visible;
            }

            .icon {
                fill                     : var(--primary-color);
                animation                : nav-interaction .4s;
                animation-iteration-count: 1;
            }
        }

        .icon {
            width : 2rem;
            height: 2rem;

            fill      : var(--text-secondary);
            transition: all .2s var(--easeCubic);
        }

        .slider {
            height: 4px;
            transition      : all 0.5s var(--easeCubic);
        }
    }
}