<div class="d-flex ai-center m-2 text-center">
    <app-go-back></app-go-back>
    <p class="ml-3">Navbar Interaction. Click any icon below.</p>
</div>

<div class="navbar m-0-auto">
    <ul class="nav position-relative d-flex p-0 bg-white bs-light">
        <ng-container *ngFor="let item of navList; index as i">
            <li class="nav__item d-flex flex-direction-column ai-center flex-1 height-inherit mt-2 mb-4 cursor-pointer"
                [ngClass]="{'active': i === selected}" (click)="onSelect(elem, i)" #elem>
                <svg class="icon icon-light w-32 h-32">
                    <use attr.href="../../../assets/svg/icons.svg#{{item.icon}}"></use>
                </svg>
                <a class="nav__link opacity-0 visibility-hidden fw-500 text-secondary">{{item.title}}</a>
            </li>
            <div class="slider position-absolute top-0 bg-primary bd-radius-12" [ngStyle]="animate"></div>
        </ng-container>
    </ul>
</div>