<div class="main d-flex p-2">
    <!-- Right side -->
    <div class="user">
        <div class="notification">
            <svg class="icon-bell w-25 h-25">
                <use href="../../../assets/svg/icons.svg#icon-bell"></use>
            </svg>
            <span class="notification__circle circle-active"></span>
        </div>

        <div class="user__info">
            <div class="circle-avatar">
                <img src="../../../assets/images/estate/user-avatar.png" alt="user-avatar">
            </div>
            <div class="user-name">Dios V.</div>
            <div class="dropdown">
                <svg class="icon-bell w-25 h-25">
                    <use href="../../../assets/svg/icons.svg#icon-chevron-small-down"></use>
                </svg>
            </div>
        </div>
    </div>

    <!-- Left side -->
    <nav class="navigation d-flex flex-direction-column">
        <div class="logo">
            <h3 class="f-16 text-primary-color">DV</h3>
        </div>

        <ul>
            <li class="nav__item d-flex ai-center cursor-pointer bd-auto p-1" *ngFor="let menu of menuList">
                <svg class="icon-light {{menu.icon}} w-25 h-25">
                    <use attr.xlink:href="../../../assets/svg/icons.svg#{{menu.icon}}"></use>
                </svg>
                <a class="nav__link text-secondary ml-2">{{menu.name}}</a>
            </li>
        </ul>

        <div class="ad mt-auto">
            <h2 class="heading-2"><span>Upgrade to</span> PRO account</h2>
            <svg class="icon-up-arrow w-25 h-25">
                <use href="../../../assets/svg/icons.svg#icon-arrow-up-right"></use>
            </svg>
        </div>
    </nav>
</div>