<div class="overlay" #overlay></div>

<div class="menu-container d-grid place-items-center full-screen-height">
    <button class="position-relative btn-circle bg-primary text-white p-4" #btn>
        <span>Menu</span>
    </button>

    <div class="menu position-absolute d-flex flex-direction-column bg-white bd-auto bs-dark opacity-0 visibility-hidden z-index-100"
        #menu>
        <div class="menu__item d-flex ai-center px-2 py-1 cursor-pointer" *ngFor="let item of menuData">
            <div class="menu__item--img w-40 h-40 clip-path-circle">
                <img class="object-fit-cover" [src]="item.menuImageUrl" alt="Menu image" width=100% height=100%>
            </div>
            <div class="menu__item--text f-13 ml-2">
                {{item.menuTitle}}
            </div>
        </div>
    </div>
</div>