:root {
  --bg-success: #D4EDDA;
  --bg-info   : #F1FAFF;
  --bg-warning: #FFF4EC;
  --bg-error  : #FDF3F1;

  --bd-success: #5ACA75;
  --bd-info   : #0073BB;
  --bd-warning: #FF8F39;
  --bd-error  : #D13212;

  --txt-success: #287D3C;
  --txt-info   : #2E5AAC;
  --txt-warning: #B95000;
  --txt-error  : #DA1414;
}

.bg {
  &-success {
    background-color: var(--bg-success);
  }

  &-info {
    background-color: var(--bg-info);
  }

  &-warning {
    background-color: var(--bg-warning);
  }

  &-error {
    background-color: var(--bg-error);
  }
}

.bd {
  &-success {
    border: 1px solid var(--bd-success);
  }

  &-info {
    border: 1px solid var(--bd-info);
  }

  &-warning {
    border: 1px solid var(--bd-warning);
  }

  &-error {
    border: 1px solid var(--bd-error);
  }
}

.icon {
  &-success {
    color: var(--txt-success);
  }

  &-info {
    color: var(--txt-info);
  }

  &-warning {
    color: var(--txt-warning);
  }

  &-error {
    color: var(--txt-error);
  }
}