:root {
    --bg-white  : #FFFFFF;
    --bg-black  : #000000;
    --body-color: #F0F2F5;
}

.bg {
    &-white {
        background-color: var(--bg-white);
    }

    &-black {
        background-color: var(--bg-black);
    }

    &-primary {
        background-color: var(--primary-color);
    }
}