<!-- Search form -->
<div class="search">
    <label for="search">
        <svg class="icon icon-search">
            <use href="../../../../assets/svg/icons.svg#icon-search"></use>
        </svg>
    </label>
    <input id="search" type="text" placeholder="Search..." autocomplete="on">
</div>

<!-- Filter -->
<div class="listing-actions">
    <h1 class="heading-1">All listings</h1>
    <div class="actions">
        <span>Filter</span>
    </div>
</div>

<!-- All listing -->
<div class="listings">
    <div class="listing element" *ngFor="let item of propertyList">
        <div class="listing__description">
            <div class="listing__heading">
                <h4 class="heading-4">{{item.propertyAddress}}</h4>
                <span class="dash">&mdash;</span>
                <span class="type">{{item.propertyType}}</span>
            </div>

            <div class="listing__info">
                <span>{{item.numberOfBedrooms}} bedrooms</span>
                <span class="circle">&#11044;</span>
                <span>{{item.numberOfBathrooms}} bathrooms</span>
                <span class="circle">&#11044;</span>
                <span>{{item.squareMeters}} m</span>
            </div>

            <div class="listing__footer">
                <span class="price">{{item.price | currency}}</span>
                <span class="date">{{item.timeAdded}}</span>
            </div>
        </div>
    </div>
</div>