@mixin font-size($n) {
    font-size: $n * 1px;
}

.f {
    &-13 {
        @include font-size(13);
    }

    &-16 {
        @include font-size(16);
    }

    &-24 {
        @include font-size(24);
    }

    &-32 {
        @include font-size(32);
    }
}