<mat-progress-bar *ngIf="loading" mode="indeterminate"></mat-progress-bar>

<ng-container>
  <mat-toolbar color="primary" class="d-flex">
    <mat-toolbar-row>
      <button mat-button *ngFor="let item of menuList" [ngClass]="{'text-light, opacity-0.5': item.active === false}"
        class="mr-2 f-14" (click)="directMenuLink(item.route)">{{ item.name | titlecase}}</button>
      <div class="flex-auto"></div>
      <a mat-icon-button href="https://www.facebook.com/diosvo/" target="_blank" class="text-white"
        aria-label="Facebook" data-toggle="tooltip" title="Dios Vo">
        <mat-icon>facebook</mat-icon>
      </a>
    </mat-toolbar-row>
  </mat-toolbar>

  <alert-message *ngIf="errorMessage" type="error">{{ errorMessage }}</alert-message>

  <expansion-panel [panel]="panel"></expansion-panel>

  <menu-item [data]="dataList" class="d-grid template-columns-auto gap-1 p-2"></menu-item>
</ng-container>