<ng-container>
  <mat-progress-bar mode="indeterminate"></mat-progress-bar>
  <toolbar [list]="menuList" (directLink)="directMenuLink($event)"></toolbar>
  <alert-message *ngIf="errorMessage" type="error">{{ errorMessage }}</alert-message>
  <expansion-panel [panel]="panel" (changeSearch)="onSearch($event)"></expansion-panel>

  <ng-container [ngTemplateOutlet]="noResults">
    <menu-item [data]="dataList" class="d-grid template-columns-auto gap-1 p-2">
    </menu-item>

    <ng-template #noResults>
      <div class="text-center fs-16">{{ emptySearch }}</div>
    </ng-template>
  </ng-container>
</ng-container>