<mat-progress-bar *ngIf="loading" mode="indeterminate"></mat-progress-bar>

<ng-container>
  <mat-toolbar color="primary" class="d-flex">
    <mat-toolbar-row>
      <span *ngFor="let item of menuList" class="mr-2 f-14" (click)="onDirect(item.route)">{{ item.name }}</span>
      <div class="flex-auto"></div>
      <button mat-icon-button aria-label="Facebook" data-toggle="tooltip" title="Dios Vo">
        <mat-icon>facebook</mat-icon>
      </button>
    </mat-toolbar-row>
  </mat-toolbar>
</ng-container>

<ng-container>
  <alert-message *ngIf="errorMessage" type="error">{{ errorMessage }}</alert-message>
  <menu-item [data]="dataList"></menu-item>
</ng-container>