<div class="container d-grid jc-center" appMomentumScrolling>
    <div class="box-blue w-300 h-300 bs-light bd-auto m-1"></div>
    <div class="box-green w-300 h-300 bs-light bd-auto m-1"></div>
    <div class="box-yellow w-300 h-300 bs-light bd-auto m-1"></div>
    <div class="box-orange w-300 h-300 bs-light bd-auto m-1"></div>
    <div class="box-red w-300 h-300 bs-light bd-auto m-1"></div>
    <div class="box-grey w-300 h-300 bs-light bd-auto m-1"></div>
    <div class="box-blue w-300 h-300 bs-light bd-auto m-1"></div>
    <div class="box-green w-300 h-300 bs-light bd-auto m-1"></div>
    <div class="box-yellow w-300 h-300 bs-light bd-auto m-1"></div>
    <div class="box-orange w-300 h-300 bs-light bd-auto m-1"></div>
    <div class="box-red w-300 h-300 bs-light bd-auto m-1"></div>
    <div class="box-grey w-300 h-300 bs-light bd-auto m-1"></div>
    <div class="box-blue w-300 h-300 bs-light bd-auto m-1"></div>
    <div class="box-green w-300 h-300 bs-light bd-auto m-1"></div>
    <div class="box-yellow w-300 h-300 bs-light bd-auto m-1"></div>
    <div class="box-orange w-300 h-300 bs-light bd-auto m-1"></div>
    <div class="box-red w-300 h-300 bs-light bd-auto m-1"></div>
    <div class="box-grey w-300 h-300 bs-light bd-auto m-1"></div>
    <div class="box-blue w-300 h-300 bs-light bd-auto m-1"></div>
    <div class="box-green w-300 h-300 bs-light bd-auto m-1"></div>
    <div class="box-yellow w-300 h-300 bs-light bd-auto m-1"></div>
    <div class="box-orange w-300 h-300 bs-light bd-auto m-1"></div>
    <div class="box-red w-300 h-300 bs-light bd-auto m-1"></div>
    <div class="box-grey w-300 h-300 bs-light bd-auto m-1"></div>
    <div class="box-blue w-300 h-300 bs-light bd-auto m-1"></div>
    <div class="box-green w-300 h-300 bs-light bd-auto m-1"></div>
    <div class="box-yellow w-300 h-300 bs-light bd-auto m-1"></div>
    <div class="box-orange w-300 h-300 bs-light bd-auto m-1"></div>
    <div class="box-red w-300 h-300 bs-light bd-auto m-1"></div>
    <div class="box-grey w-300 h-300 bs-light bd-auto m-1"></div>
    <div class="box-blue w-300 h-300 bs-light bd-auto m-1"></div>
    <div class="box-green w-300 h-300 bs-light bd-auto m-1"></div>
</div>