$colors: ('blue': #394867,
    'green' : #28DF99,
    'yellow' : #FFE05D,
    'orange': #FF9642,
    'red' : #D7385E,
    'grey' : #9BA4B4);

.container {
    grid-template-columns: repeat(auto-fit, minmax(min-content, 320px));

    @each $name,
    $color in $colors {
        .box-#{$name} {
            background-color: $color;
        }
    }
}