@mixin height($n) {
    height: $n * 1px;
}

.full-screen-height {
    height: 100vh;
}

.h {
    &-inherit {
        height: inherit;
    }
    
    &-24 {
        @include height(24);
    }

    &-32 {
        @include height(32);
    }

    &-48 {
        @include height(48);
    }

    &-200 {
        @include height(200);
    }

    &-210 {
        @include height(210);
    }

    &-300 {
        @include height(300);
    }

    &-500 {
        @include height(500);
    }

    &-980 {
        @include height(980);
    }
}