@mixin height($n) {
    height: 1px * $n;
}

.full-screen-height {
    height: 100vw;
}

.max-height {
    max-height: 100%;
}

.max-height {
    min-height: 0;
}

.height {
    &-inherit {
        height: inherit;
    }

    &-100 {
        height: 100%;
    }
}

.h {
    &-500 {
        @include height(500);
    }
}