@mixin top($n) {
    top: $n;
}

@mixin z-index($n) {
    z-index: $n;
}

.position {
    &-relative {
        position: relative;
    }

    &-absolute {
        position: absolute;
    }
}

.top {
    &-0 {
        @include top(0)
    }
}

.z-index {
    &-10 {
        @include z-index(10);
    }

    &-100 {
        @include z-index(100);
    }
}