@import './assets/scss/main.scss';
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
    padding   : 0;
    margin    : 0;
    box-sizing: border-box;

    font-family     : 'Roboto', sans-serif;
    background-color: var(--body-color);
}

p {
    margin: 0;
}

ul {
    li {
        list-style-type: none;
    }

    a {
        text-decoration: none;
    }
}